In [23]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import GradientBoostingClassifier

In [24]:
Train_Data = pd.read_csv("Data\Train-Set.csv")
Test_Data = pd.read_csv("Data\Test-Set.csv")

In [25]:
Train_Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54712 entries, 0 to 54711
Data columns (total 19 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  54712 non-null  int64
 1   id          54712 non-null  int64
 2   age         54712 non-null  int64
 3   job         54712 non-null  object
 4   marital     54712 non-null  object
 5   education   54712 non-null  object
 6   default     54712 non-null  object
 7   balance     31842 non-null  float64
 8   housing     54712 non-null  object
 9   loan        54712 non-null  object
 10  contact     54712 non-null  object
 11  day         54712 non-null  object
 12  month       54712 non-null  object
 13  duration    54712 non-null  int64
 14  campaign    54712 non-null  int64
 15  pdays       54712 non-null  int64
 16  previous    54712 non-null  int64
 17  poutcome    54712 non-null  object
 18  Target      54712 non-null  object
dtypes: float64(1), int64(7), object(11)
memory usage: 7.9+ MB

In [26]:
Test_Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23449 entries, 0 to 23448
Data columns (total 18 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  23449 non-null  int64
 1   id          23449 non-null  int64
 2   age         23449 non-null  int64
 3   job         23449 non-null  object
 4   marital     23449 non-null  object
 5   education   23449 non-null  object
 6   default     23449 non-null  object
 7   balance     13369 non-null  float64
 8   housing     23449 non-null  object
 9   loan        23449 non-null  object
 10  contact     23449 non-null  object
 11  day         23449 non-null  object
 12  month       23449 non-null  object
 13  duration    23449 non-null  int64
 14  campaign    23449 non-null  int64
 15  pdays       23449 non-null  int64
 16  previous    23449 non-null  int64
 17  poutcome    23449 non-null  object
dtypes: float64(1), int64(7), object(10)
memory usage: 3.2+ MB

In [27]:
Train_Data.isnull().sum()

Unnamed: 0        0
id                0
age               0
job               0
marital           0
education         0
default           0
balance       22870
housing           0
loan              0
contact           0
day               0
month             0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
Target            0
dtype: int64

In [28]:
Train_Data.columns

Index(['Unnamed: 0', 'id', 'age', 'job', 'marital', 'education', 'default',
       'balance', 'housing', 'loan', 'contact', 'day', 'month', 'duration',
       'campaign', 'pdays', 'previous', 'poutcome', 'Target'],
      dtype='object')

In [29]:
Test_Data.columns

Index(['Unnamed: 0', 'id', 'age', 'job', 'marital', 'education', 'default',
       'balance', 'housing', 'loan', 'contact', 'day', 'month', 'duration',
       'campaign', 'pdays', 'previous', 'poutcome'],
      dtype='object')

In [30]:
Train_Data.describe()

,Unnamed: 0,id,age,balance,duration,campaign,pdays,previous
count,54712.000000,54712.000000,54712.000000,31842.000000,54712.000000,54712.000000,54712.000000,54712.000000
mean,38925.687582,45173.763397,40.580147,1368.024590,257.282260,2.679961,425.022829,0.407351
std,22553.956707,25935.559039,10.544504,3057.847866,255.270335,2.966822,476.813012,1.520253
min,0.000000,0.000000,17.000000,-8019.000000,0.000000,1.000000,-1.000000,0.000000
25%,19414.750000,22737.750000,32.000000,73.000000,103.000000,1.000000,-1.000000,0.000000
50%,38803.000000,45248.000000,39.000000,449.000000,180.000000,2.000000,88.000000,0.000000
75%,58491.250000,67581.250000,48.000000,1435.000000,318.000000,3.000000,999.000000,0.000000
max,78160.000000,89999.000000,98.000000,98417.000000,4199.000000,58.000000,999.000000,58.000000

In [31]:
Train_Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54712 entries, 0 to 54711
Data columns (total 19 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  54712 non-null  int64
 1   id          54712 non-null  int64
 2   age         54712 non-null  int64
 3   job         54712 non-null  object
 4   marital     54712 non-null  object
 5   education   54712 non-null  object
 6   default     54712 non-null  object
 7   balance     31842 non-null  float64
 8   housing     54712 non-null  object
 9   loan        54712 non-null  object
 10  contact     54712 non-null  object
 11  day         54712 non-null  object
 12  month       54712 non-null  object
 13  duration    54712 non-null  int64
 14  campaign    54712 non-null  int64
 15  pdays       54712 non-null  int64
 16  previous    54712 non-null  int64
 17  poutcome    54712 non-null  object
 18  Target      54712 non-null  object
dtypes: float64(1), int64(7), object(11)
memory usage: 7.9+ MB

In [32]:
Test_Data.isnull().sum()

Unnamed: 0        0
id                0
age               0
job               0
marital           0
education         0
default           0
balance       10080
housing           0
loan              0
contact           0
day               0
month             0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
dtype: int64

In [33]:
Train_Data.drop('balance', axis=1, inplace=True)
Test_Data.drop('balance', axis=1, inplace=True)

In [34]:
Train_Data = pd.get_dummies(Train_Data, columns=['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact','day', 'month', 'poutcome'], drop_first=True)
Test_Data = pd.get_dummies(Test_Data, columns=['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact','day', 'month', 'poutcome'], drop_first=True)

In [35]:
X_train = Train_Data.drop('Target', axis=1)
y_train = Train_Data['Target']

In [36]:
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.2, random_state=42)

In [37]:
gb_model = GradientBoostingClassifier(n_estimators=100, learning_rate=0.1, random_state=42)

In [38]:
gb_model.fit(X_train, y_train)

GradientBoostingClassifier(random_state=42)

In [39]:
y_val_pred = gb_model.predict(X_val)

In [40]:
accuracy = accuracy_score(y_val, y_val_pred)
print("Accuracy on validation data:", accuracy)

Accuracy on validation data: 0.9107191812117336